body {
  padding-top: 7.5vh;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  background-size: cover;
}

.login-absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.form-vertical-center {
  padding: 50vh;
}

.wrap-login100 {
  min-height: 92.5vh;
}

@media (max-width: 720px) {
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
}

.carousel {
  width: 66.25vw;
  height: 92.5vh;
}

.carousel-caption {
  bottom: 5vw;
}

@media (max-width: 576px) {
  .carousel {
    display: none;
  }
}
